body {
background-color:  #fff5ed;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}

h1 {
size: 120%;
color:  #4C4A59;
align-items: center;
}

h2 {
size: 110%;
color: #18524f;
align-items: left;
}

blockquote {
font-style: italic;
}

article {
background-color: #80c4c0;
width: 70%;
padding: 1em;
}

footer {
align-items: center;
color: #4C4A59;
font-size: 100%
}

a:link {
color: #1B7F7A;
}

a:visited {
color:  #0897B4;
}

a:hover {
color: #4CABA6;
}

a:active {
color: #4C4A59;   
}

.navbar ul {
background-color: #dbc2b7;
display: flex;
flex-direction:row;                         ;
justify-content: space-evenly;
align-items: center;
font-size: 100%;
padding: 10px;
list-style-type: none;;
}
